@{
  Layout = "_Layout";
}

@model FuelStation.Models.FuelType

<h4>Add a new Fuel Type</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add new Fuel Type" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Fuel Types", "Index")</p>