@{
    Layout = "_Layout";
}

<h1>Fricc's Fuel Station Administrative Page</h1>

<p>@Html.ActionLink("View All Ships", "Index", "SpaceShips")</p>
<p>@Html.ActionLink("View All Planets", "Index", "Planets")</p>
<p>@Html.ActionLink("View All Fuels", "Index", "FuelTypes")</p>